n8n_code/AI_assistant-20012025.json
{
  "name": "AI assistant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -620,
        -160
      ],
      "id": "ab667213-9c67-4da2-b5f6-722378d5e52c",
      "name": "Telegram Trigger",
      "webhookId": "12e9dd60-44a4-4ab0-9634-d1361221a980",
      "credentials": {
        "telegramApi": {
          "id": "RvudU9cpDTbALcjT",
          "name": "Telegram api"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        -20
      ],
      "id": "9a13a6dd-fdd0-4cc2-adc9-8264ffdf14c6",
      "name": "Telegram",
      "credentials": {
        "telegramApi": {
          "id": "RvudU9cpDTbALcjT",
          "name": "Telegram api"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6e56472-4681-4a89-ac3e-162d20a265a6",
              "leftValue": "={{ $json.message.voice.duration }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "d5e8b41c-a942-485c-9855-ad2a2b210657",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -340,
        20
      ],
      "id": "e0b60f7c-7e74-4600-9765-0b18bd36d148",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "181dd320-00b9-8093-927a-f40ae5a8ab93",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://www.notion.so/181dd32000b98093927af40ae5a8ab93"
        },
        "title": "task_telegram",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ $('Telegram Trigger').item.json.message.text }}"
            },
            {
              "key": "Created At|date",
              "date": "={{$now}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -120,
        120
      ],
      "id": "2f8aabb9-2041-4431-b4bf-60288c900b7d",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "ovRF1xfue6Yu1EW3",
          "name": "Notion api"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ff9412ea-eac5-4ec7-8a57-050bdd71db93",
  "meta": {
    "instanceId": "b3b02fbc03553ef316349692365c9dc5713b3956b8cb26ad8ec3e90aec85ff84"
  },
  "id": "RuDsr8koVGHGFwt9",
  "tags": []
}